<%- include('partials/header',{project_Category: langs}) %>


<div class="container project-view-container">

    <h1><%= project[0].projectName %></h1>

    <div class="project-video">
        <div class="loading-container">
            <div class="loading">
            </div>
        </div>
        <div class="embed-responsive embed-responsive-16by9 project-view-embed">
            <iframe onload="loadiframe(event)" class="embed-responsive-item" width="560" height="315" src="<%= project[0].projectVideoUrl%>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
   
    <div class="flex projectVideo-container">  
        <div class="flex project-view-info">
            <div class="project-tags">
                    
                <% (project[0].tags).forEach((tag)=>{ %>
                  <a class="btn" href="javascript:void(0);"><%= tag %></a>
                <% }) %>

              </div>
              <div class="flex project-view-icons">

                <a href="javascript:void(0);">
                    <i class="fa fa-heart" onclick="like_the_project('<%= projectData.projectId %>',this)" data-toggle="tooltip" data-html="true" data-placement="bottom" title="<div class='tooltip-text'>Like</div>">
                        <span class="badge badge-light"><%= project[0].likes %></span></i>
                </a>
                <a href="javascript:void(0);" onclick="openModal('getHelp',['<%= project[0].projectName %>','<%= project[0].share %>','<%= project[0].projectId %>','<%= project[0].getHelp %>'])" data-toggle="modal" data-target="#projectDataModal">
                  <i class="fas fa-code" data-toggle="tooltip" data-html="true" data-placement="bottom" title="<div class='tooltip-text'>Get Help</div>"></i>
                </a>
                <a href="javascript:void(0);" onclick="openModal('share',['<%= project[0].projectName %>','<%= project[0].share %>'])" data-toggle="modal" data-target="#projectDataModal">
                    <i class="fa fa-share-alt" data-toggle="tooltip" data-html="true" data-placement="bottom" title="<div class='tooltip-text'>Share</div>"></i>
                </a>

            </div>
        </div>
    </div>

    <div class="project-view-content">

    </div>

    <div class="download-button-container">
        <div class="ads"></div>
        <a type="button" class="btn btn-primary" href="/projects/<%= project[0].lang %>/pid/<%= project[0].projectId %>/download">DOWNLOAD</a>
        <div class="ads"></div>
    </div>
    
</div>

<%- include ('partials/modal') %>

<%- include('partials/footer',{projectCategory: langs}) %>


<script type="text/javascript" src="../../../public/js/project-view.js"></script>


<script defer>
    $(document).ready(()=>{
        
        (async()=>{
            let d1=await fetch("<%= project[0]['projectDescUrl'] %>");
            $('.project-view-content')[0].innerHTML=await d1.text();
        })();
    });

</script>



<%- include('partials/closing') %>